*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

.navbar{
    background: #14594D;
}
.navbar a{
    font-weight: bold;
    font-size: 15px;
}
.home-area{
    background: url(img/maxresdefault.jpg);
    height: 700px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.home-inner-area{
    background: rgb(0, 0, 0,0.5);
    height: 700px;

}
.heading{
    color: #fff;
    margin-top: 100px;
}
.card{
    justify-content: center;
    text-align: center;
}
.member-area{
    margin-top: 50px;
}
.sec-part{
    margin-top: 50px;
}
.footer-area{
    background: #14594D;
    color: #fff;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.navbar-nav a{
    color: #fff;
}
.navbar-nav a:hover{
    background: #fff;
    color: black;
    border-bottom: 2px solid red;
}
.headinngs{
    background:#14594D ;
    color: #fff;
    justify-content: center;
    text-align: center;
    padding: 20px 0;
}
.down{
    margin-top: 20px;
    margin-bottom: 20px;
}
.service-area{
    margin-top: 50px;
    margin-bottom: 50px;
}
.service-area .fa{
    padding: 20px 0;
    font-size: 25px;
    color: #14594D;
}
.service{
    margin-top: 50px;
}
.card:hover{
    transform: translateY(-30px);
    -webkit-box-shadow: 6px 9px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 9px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 6px 9px 5px 0px rgba(0,0,0,0.75);
    transition: .4s;
    cursor: pointer;
}
.service-area .fa{
    font-size: 30px;
}
.contact-area h2{
    margin-bottom: 45px;
}
.contact-area ul{
    text-decoration: none;
    list-style: none;
    background: #14594D;
    box-sizing: border-box;
    display: block;
}
.contact-area ul a{
    padding: 20px 0;
    color: #fff;
}
h3.contact {
    margin-bottom: 87px;
}
.contact-area .fa {
    padding: 20px 52px;
    font-size: 30px;
}
.footer-area{
    margin-top: 30px;
}
.footer-area {
    padding: 28px;
}

